/*Setting height to 100% so it covers the page and no faff with px */
body, html {
    height: 100%;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.bgimg {
    background-image: url(starry-sky.jpg);
    height: 100%; 
    background-position: center; 
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Helvetica";
    font-size: 25px;
}

/* Position in top-left */
.topleft {
    position: absolute;
    top: 0;
    left: 16px
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Styling the <hr> element */
hr {
    margin: auto;
    width: 40%;
}